{{ define "main" }}
  {{- partial "sections/hero.html" . -}}
  {{- partial "sections/architecture.html" . -}}
  {{- partial "sections/problems.html" . -}}
  {{- partial "sections/trust.html" . -}}
  {{- partial "sections/personas.html" . -}}
  {{- partial "sections/rules.html" . -}}
  {{- partial "sections/value.html" . -}}
  {{- partial "sections/metrics.html" . -}}
  {{- partial "sections/testing.html" . -}}
  {{- partial "sections/flow.html" . -}}
  {{- partial "sections/roi.html" . -}}
  {{- partial "sections/demo.html" . -}}
  {{- partial "sections/cta.html" . -}}
{{ end }}
